<div class="separated-page no-padding-bottom">
  <div class="container">
  <div class="col-md-12">
  <div class="title">PRIVATUMO POLITIKA</div>
  <div class="row">
  <div class="col-md-12">
  
<section class="private-policy">
  
  <ol class="main">
    <li class="lvl0">Bendrosios nuostatos
      <ol>  
          <li class="lvl1">Ši privatumo politika reglamentuoja UAB Monada LT internetinės svetainės (toliau – www.monadalt.com ) ir www.monadalt.com kliento (toliau – Jūs, Jūsų) pagrindinius asmens duomenų rinkimo, tvarkymo ir saugojimo principus bei tvarką.</li>
          <li class="lvl1">Jūsų asmens duomenų rinkimą, tvarkymą ir saugojimą nustato ši privatumo politika, Lietuvos Respublikos Asmens duomenų teisinės apsaugos įstatymas ir kiti teisės aktai.</li>
          <li class="lvl1">Internetinėje svetainėje nurodydami savo asmens duomenis, sutinkate, kad www.monadalt.com juos valdys ir tvarkys šioje privatumo politikoje bei teisės aktuose numatytais tikslais, priemonėmis ir tvarka.</li>
          <li class="lvl1">Mes įsipareigojame parduoti prekes fiziniams asmenims, kurie yra ne jaunesni nei 18 metų. Jei Jūs esate jaunesnis nei 18 metų, Jūs galite pirkti tik su tėvų ar globėjų sutikimu.</li>
      </ol>
    </li>
    <li class="lvl0">Asmens duomenų rinkimas, tvarkymas, saugojimas
      <ol>
        <li class="lvl1">www.monadalt.com vadovaujasi šiais pagrindiniais asmens duomenų tvarkymo principais:
          <ol>  
            <li class="lvl2">Asmens duomenys renkami apibrėžtais ir teisėtais tikslais.</li>
            <li class="lvl2">Asmens duomenys tvarkomi tiksliai ir sąžiningai.</li>
            <li class="lvl2">Asmens duomenys nuolat atnaujinami.</li>
            <li class="lvl2">Asmens duomenys saugojami ne ilgiau, nei to reikalauja nustatyti duomenų tvarkymo tikslai.</li>
            <li class="lvl2">Asmens duomenis tvarko tik tie darbuotojai, kuriems suteikta tokia teisė.</li>
            <li class="lvl2">Visa informacija apie tvarkomus asmens duomenis yra konfidenciali.</li>
          </ol>
        </li>
        <li class="lvl1">www.monadalt.com gerbia kiekvieno Jūsų teisę į privatumą. Jūsų asmens duomenys (vardas, pavardė, amžiaus grupė, adresas, telefono numeris, elektroninio pašto adresas ir kita registracijos formoje nurodyta informacija) renkami ir tvarkomi šiems tikslams:
          <ol>
            <li class="lvl2">apdoroti Jūsų prekių užsakymus;</li>
            <li class="lvl2">išrašyti finansinius dokumentus (pvz., sąskaitas faktūras);</li>
            <li class="lvl2">spręsti problemas, susijusias su prekių pateikimu ar pristatymu;</li>
            <li class="lvl2">vykdyti kitus sutartinius įsipareigojimus;</li>
          </ol>
        </li>
      </ol>
    </li>
    <li class="lvl0">Asmens duomenų perdavimas trečiosioms šalims
      <ol>
        <li class="lvl1">
          Asmens duomenų perdavimas trečiosioms šalims
          <ol>
            <li class="lvl2">Pardavėjas turi teisę perduoti informaciją trečioms šalims, tik punkto 2.2 tikslams pasiekti.</li>
            <li class="lvl2">Tik Lietuvos Respublikos įstatymų nustatyta tvarka.</li>
          </ol>
        </li>
      </ol>
    </li>
    <li class="lvl0">Registracijos pateikimo taisyklės
      <ol>
        <li class="lvl1">Jūs registracijos formoje turite pateikti pilną, išsamią ir teisingą informaciją apie save. Jeigu registracijos formoje Jūs pateikiate netikslius, melagingus ar klaidinančius duomenis, mes turime teisę anuliuoti Jūsų registraciją ir ištrinti duomenis arba apriboti Jūsų galimybes naudotis e-parduotuve.</li>
      </ol>
    </li>
    <li class="lvl0">Asmens duomenų pakeitimas ar atnaujinimas
      <ol>
        <li class="lvl1">Jūs turite teisę bet kada keisti ir/ar atnaujinti registracijos formoje pateiktą informaciją pranešdamas apie tai adresu info@monadalt.com  arba telefonu +370 68610505</li>
      </ol>
    </li>
    <li class="lvl0">Slapukai (angl. cookies)
      <ol>
        <li class="lvl1">Informuojame, jog tam, kad galėtume pasiūlyti Jums visavertes paslaugas mūsų svetainėje, Jūsų kompiuteryje (įrenginyje) įrašome informaciją (slapukus, angl. "cookies"). Įrašytą informaciją naudosime atpažindami Jus, kaip ankstesnį svetainės naudotoją, rinkdami svetainės lankomumo statistiką. Jūs bet kada galite peržiūrėti, kokią informaciją (slapukus) įrašome, ir galite ištrinti dalį ar visus įrašytus slapukus. Taip pat turite teisę nesutikti, kad būtų įrašoma ir naudojama informacija (slapukai) Jūsų kompiuteryje (įrenginyje), tačiau tokiu atveju kai kurios svetainės funkcijos Jums gali būti neprieinamos. Preziumuojame, jog naudodamasis svetaine sutinkame su tuo, kad Jūsų kompiuteryje (įrenginyje) būtų įrašoma informacija. Savo duotą sutikimą bet kada galėsite atšaukti, pakeisdami savo interneto naršyklės nustatymus, ar kreipdamiesi į mus bet kuriais svetainėje skelbiamais kontaktais.</li>
      </ol>
    </li>
    <li class="lvl0">Taisyklių keitimas ir baigiamosios nuostatos
      <ol>
        <li class="lvl1">www.monadalt.com  turi teisę iš dalies ar visiškai pakeisti Privatumo sąlygas apie tai pranešdami svetainėje. Tolimesnis naudojimasis mūsų tinklapio paslaugomis reiškia šių taisyklių laikymąsi. Visi iškilę nesutarimai ir ginčai sprendžiami derybu būdu. Nepavykus susitarti, ginčai sprendžiami pagal LR įstatymus.</li>
      </ol>
    </li>

  </ol>
  
  <p class="special-text">Jeigu turite klausimų ar pasiūlymų, rašykite mums info@monadalt.com</p>
 
</section>
  
  
  </div>
  </div>
  </div>
  </div>
  </div>

  <style>
    .private-policy OL { counter-reset: item }
    .private-policy LI { display: block }
    .private-policy LI:before { content: counters(item, ".") " "; counter-increment: item }

    ol.main{
      padding-left: 0;
    }
    
    li.lvl0 {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    }
    li.lvl1 {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    }
    li.lvl2 {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    }
    

    ol ol ol {
        padding-left: 0
    }
    p.special-text {
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
}


  </style>